# Python environment and cache
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/
mlruns/


# Dynamically generated model artifacts
models/*.pkl
models/*.json

# Dynamically generated reports, figures, and PDFs
reports/figures/*.png

# Execution logs
logs/*.log
*.log

# System files
.DS_Store
