# Python environment and cache
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/
mlruns/


# Dynamically generated model artifacts
models/*.pkl
models/*.json

# System files
.DS_Store
